* {
    font-family: cursive, fantasy, sans-serif, Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 100%;
}

.container {
    display: flex;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;

}

.containertwo {
    display: flex;
    justify-content: flex-start;
    color: #FAF9F8;
    font-size: 24px;
}

.containerthree {
    display: flex;
    justify-content: flex-end;
    color: #E5E7EB;
    font-size: 18px;
}

.containerfour {
    display: flex;
    flex-flow: column wrap;
}

.containerfive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    
}

.containersix {
    display: flex;
    justify-content: space-evenly;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 25px;

}


.headerone {
    color: #FAF9F8;
    font-size: 48px;
}

.headertwo {
    text-align: center;
    padding-top: 10px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.textone {
    color: #E5E7EB;
    font-size: 18px;
}

.imageone {
    padding-left: 100px;
    padding-bottom: 100px;
}


button {
    width: 75px;
    background-color: #3882F6;
    transition-duration: 0.4s;
    border-radius: 16px;
    font-weight: bold;
}

button:hover {
    background-color: ghostwhite;
    color: black;
}


.headlink {
    padding: 10px;
}